.main-container{
  display:flex;
  justify-content: flex-end;
  padding-right: 50px;

}

.box{
  padding: 18px 68px 18px 18px;

}

#selector{
  padding-top: 20px;
  padding-top: 40px;
  width: 25vh;
  font-size: 18px;
}

#selector:focus{
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  border: 2px solid rgba(81, 203, 238, 1)
}
